# API Keys
API_KEYS=your-secret-key-1,your-secret-key-2

# QDrant Config
QDRANT_URL=https://your-cluster-url
QDRANT_API_KEY=your_qdrant_key
COLLECTION_NAME=docs_collection_name

# LLM Config
LLM_MODE=preferred_llm_mode_like_ollama
OLLAMA_URL=https://your-ollama-url
OLLAMA_EMBEDDING_MODEL=your_embedding_model
OLLAMA_LLM=your_ollama_llm
TOOL_CALL_LLM=your_tool_calling_llm

# Magnolia Config
MAGNOLIA_SCRIPTS_REST_DELIVERY_URL=your_scripts_rest_delivery_path
MAGNOLIA_USERNAME=your_username
MAGNOLIA_PASSWORD=your_password

# LangFuse Config
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_HOST=https://cloud.langfuse.com

# Memory Config
## Redis Config: Leave blank or omit to use in-memory
REDIS_URL=redis://localhost:6379
SESSION_TTL_MINUTES=30
## In-memory COnfig:
SESSION_SIZE=10