GROOVY_GENERATOR_RAG_INGEST_URL=http://localhost:8000/v1/scripts/ingest
GROOVY_DOCS_PATH="./data"
GROOVY_GENERATOR_API_KEY=api_key_here

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=""
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION="true"
AIRFLOW__CORE__LOAD_EXAMPLES="false"
AIRFLOW__API__AUTH_BACKENDS="airflow.api.auth.backend.basic_auth"
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_POSTGRES_DB=airflow
# Pipeline config — override in .env
RAG_INGEST_URL=http://host.docker.internal:8000/v1/scripts/ingest